 
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
	margin: 0;
    padding: 0;
	font-family: 'Open Sans', sans-serif;
}

#wrapper {
    overflow-x: hidden;
}

header {
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
}

header a {
    text-decoration: none;
}

#logo {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 150px;
}

img#chev {
    width: 25px;
    margin-top: 10px;
}

#action {
    display: inline-block;
    color: white;
    width: 100%;
    position: absolute;
    left: 0;
    top: 20%;
}

#action a {
    color: white;
}

#mobaction {
    display: none;
}

header h1 {
    font-size: 4em;
    color: white;
    margin: 0;
}

header p {
    font-size: 1.2em;
}

img.appbadge {
    margin: 5px 5px 20px;
}

section {
    max-width: 1024px;
    margin: auto;
    padding: 30px;
}

section#about {
    color: #525252;

}

div.block {
    padding: 10px;
}

div.block img {
    float: left;
    margin: 10px;
    width: 35px;
    }

img#hero {
    width: 300px;
    margin: 15px;
}


section#assets {
    background-color: #142E21;
    color: white;
    max-width: none;
    padding: 80px 30px;
}

div.seeall {
    max-width: 1024px;
    margin: auto;
}

div#center {
    display: inline;
    text-align: center;
    padding: auto;
}

img.asseticons {
    margin: 20px;
}

.btn {
    background-color: #57B269;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#blog {
    text-align: center;
}

.responsive-iframe {
    width: 600px;
    height: 338px;
  }

#blog h2 {
    color: rgb(54, 54, 54);
}

#blog a {
    text-decoration: none;
    font-size: .8em;
}

section#today {
    background-color: #212353;
    color: white;
    max-width: none;
    padding: 80px 30px;
    text-align: center;
}

footer {
    text-align: center;
    background: black;
    padding: 20px 100px;
    font-size: .8em;
}

#icons {
    width: 150px;
}

img#flogo {
    width: 150px;
    float: left;
}

img.social {
    width: 30px;
    margin-top: 5px;
    margin-left: 8px;
    float: right;
}

#list {
    margin: auto;
    width: 200px;
}

footer ul {
    list-style-type: none;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

#company {
    color: white;
    padding: 50px 0 10px;
    font-size: .8em;
}

@media (max-width: 900px) {

    #logo {
        display: none;
    }
    
    #action {
        display: none;
    }
    
    header {
        height: 800px;
    }
    
    #mobaction {
        display: block;
        background: rgba(0, 0, 0, 0.5);
        color: white;
    }

    #mobaction h1 {
        font-size: 1.5em;
        padding: 0 20px 30px;
    }
    
    #mobmark {
        width: 80px;
        margin: 60px 0 20px;
    }
    
    img#hero {
        width: 240px;
    }

    section h2 {
        font-size: 1.1em;
    }
    
    section p {
        font-size: .8em;
    }

    img.asseticons {
        width: 59px;
    }

    .responsive-iframe {
        width: 400px;
        height: 225px;
      }

    footer {
        padding: 20px;
    }    

    }
    
@media (max-width: 479px) {

#logo {
    display: none;
}

#action {
    display: none;
}

#leftt {
    text-align: left;
    padding: 40px 20px;
}

#mobaction {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

#mobaction h1 {
    font-size: 2em;
    padding: 0 20px 30px;
}

#mobmark {
    width: 80px;
    margin: 60px 0 20px;
}

#about {
    padding: 80 0;
    text-align: center;
}

img#hero {
    width: 280px;
    float: none;
}

section h2 {
    font-size: 1.3em;
}

section p {
    font-size: .9em;
}

img.asseticons {
    width: 60px;
    margin: 5px 20px;
}

.responsive-iframe {
    width: 300px;
    height: 169px;
  }

img#flogo {
    float: none;
    text-align: center;
    display: block;
    width: 100px;
}

#list {
    margin-left: 50px;
}

img.social {
    float: none;
    margin: auto;
    width: 25px;
}

}

@media (max-width: 320px) {

img#hero {
    width: 250px;
}



}